html{
    background-color: var(--palette-1);
}

/* >>> >>> >>> >>> >>> wrapper <<< <<< <<< <<< <<< */
.wrapper-structure {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(25vh, 10rem) minmax(75vh, 1fr) auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

/* >>> >>> >>> >>> >>> header <<< <<< <<< <<< <<< */
.header-structure {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
/* >>> >>> >>> >>> >>> main <<< <<< <<< <<< <<< */
.main-structure {
    grid-area: main;
    padding: 1rem;
}

.main-skin{
    border-top: 1px var(--palette-2) solid;
}

/* >>> >>> >>> >>> >>> footer <<< <<< <<< <<< <<< */
.footer-structure {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
}

.footer-skin{
    border-top: 1px var(--palette-2) solid;
}

/* >>> >>> >>> >>> >>> company <<< <<< <<< <<< <<< */
.company-structure {
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* >>> >>> >>> >>> >>> social <<< <<< <<< <<< <<< */
.social-structure {
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* >>> >>> >>> >>> >>> copyright <<< <<< <<< <<< <<< */
.copyright-structure, .copyright-structure * {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}